<div class="this container-fluid">
  <h1>{{group}}</h1>

  <table class="table groups-table">
    <thead>
      <tr>
        <th>Member</th>
        <th class="number">Time Planked</th>
        <th class="number">Days Planked</th>
      </tr>
    </thead>
    <tbody *ng-if="loading">
      <tr>
        <td colspan="3"><div class="spinner-loader"></div></td>
      </tr>
    </tbody>
    <tbody *ng-if="!loading && groupMembers">
      <tr *ng-for="#member of groupMembers" class="member-row">
        <td class="name"><a [router-link]="['/Member', {id: member.id}]">{{member.name}}</a></td>
        <td class="time number">{{member.timePlanked | minutes}}</td>
        <td class="days number">{{member.daysPlanked}}</td>
      </tr>
    </tbody>
  </table>
</div>