.navbar {
  background: #444;
  color: #FFFFFF;
  min-height: 54px;
  max-height: 54px;
  padding: .5rem 0.5rem;
}

@media (min-width: 321px) {
  .navbar {
    padding: .5rem 1.0rem;
  }
}

.navbar .navbar-brand {
  color: #ddd;
}

.navbar-brand.logged-in {
  display: none;
}

.nav-item:hover .nav-link {
  color: #ddd;
}

.nav-link {
  color: #ddd;
}

.nav-link.router-link-active {
  text-decoration: underline;
}

.user-name {
  display: none;
}

ul.nav.navbar-nav {
  opacity: 0;
}

ul.nav.navbar-nav.shown {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

@media (min-width: 34em) {

  .navbar-brand.logged-in {
    display: inline-block;
  }

  .user-name {
    display: block;
  }

  .main {
    padding: 20px;
  }
}

.thumb {
  height: 36px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.btn-drop {
  float: right;
  height: 36px;
  font-size: 24px;
  padding-left: 4px;
  padding-right: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.user-menu {
  left: inherit;
  right: 0;
}

.spinner-loader {
  font-size: 7px;
  margin-top: 15px;

  -moz-box-shadow: rgba(255, 255, 255, 0.8) 1.5em 0 0 0, rgba(255, 255, 255, 0.8) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.8) 0 1.5em 0 0, rgba(255, 255, 255, 0.8) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.8) -1.5em 0 0 0, rgba(255, 255, 255, 0.8) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.8) 0 -1.5em 0 0, rgba(255, 255, 255, 0.8) 1.1em -1.1em 0 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.8) 1.5em 0 0 0, rgba(255, 255, 255, 0.8) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.8) 0 1.5em 0 0, rgba(255, 255, 255, 0.8) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.8) -1.5em 0 0 0, rgba(255, 255, 255, 0.8) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.8) 0 -1.5em 0 0, rgba(255, 255, 255, 0.8) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.8) 1.5em 0 0 0, rgba(255, 255, 255, 0.8) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.8) 0 1.5em 0 0, rgba(255, 255, 255, 0.8) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.8) -1.5em 0 0 0, rgba(255, 255, 255, 0.8) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.8) 0 -1.5em 0 0, rgba(255, 255, 255, 0.8) 1.1em -1.1em 0 0;
}

.nav-item.calendar {
  margin-right: 12px;
}