<div class="this">
  <nav class="navbar navbar-fixed-top">
    <a [router-link]="['/Root']" class="navbar-brand">Planks!</a>
    <ul class="nav navbar-nav" *ng-if="User.isLoggedIn()">
      <li class="nav-item">
        <a [router-link]="['/Member', {id: User.id}]" class="btn btn-primary">Calendar</a>
      </li>
      <li class="nav-item">
        <div *ng-if="User.groups.length == 0">
          <a [router-link]="['/Join']" class="btn btn-warning">Join a Group!</a>
        </div>
        <div *ng-if="User.groups.length > 0">
          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-secondary" dropdown-toggle>
              Groups <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="menuitem" *ng-for="#group of User.groups">
                <a [router-link]="['/Group', {group: group}]" class="dropdown-item">{{group}}</a>
              </li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a [router-link]="['/Join']" class="dropdown-item">Join a Group</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right" *ng-if="User.isLoggedIn()">
      <li class="nav-item user-name">
        <a href="{{User.profile?.link}}" class="nav-link">{{User.profile?.name}}</a>
      </li>
      <li class="nav-item">
        <div class="btn-group" dropdown>
          <img class="thumb" src="{{User.profile?.picture}}" />
          <button
            type="button"
            class="btn btn-primary btn-drop"
            dropdown-toggle><span class="caret"></span>
          </button>
          <ul class="dropdown-menu user-menu" role="menu" aria-labelledby="split-button">
            <li role="menuitem"><a class="dropdown-item" href="{{User.profile?.link}}">Google Profile</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a class="dropdown-item" href="#" (click)="User.signOut()">Sign Out</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>