.month-name {
  text-align: center;
  padding-bottom: 10px;
  color: white;
}

.member-name {
  text-align: center;
  font-size: 1.4rem;
  color: white;
}

.interactive .month-name,
.interactive .member-name {
  color: rgb(68, 68, 68);
}

.day {
  text-align: center;
  border: 1px solid #aaa;
  width: 14%;
  background-color: #fff;
}

.day h1 {
  font-size: 1.5rem;
}

.interactive .day.past {
  cursor: pointer;
}

.day.past {
  background-color: pink;
}

.day.succeeded {
  background-color: #BDFCC9;
}

.day.today {
  background-color: #BFEFFF;
}

.day.rest {
  background-color: #ddd !important;
  cursor: default !important;
}

.month {
  positive: relative;
}

  /*.table {
    position: relative;
    left: 0px;
  }*/

td.day {
  padding: 4px;
}


@media (min-width: 34em) {

  td.day {
    padding: 4px;
  }

}

@media (min-width: 48em) {

  td.day {
    padding: 8px;
  }

}

.empty {
  border-top: none;
}