<div class="month" [class.interactive]="interactive">
  <help *ng-if="interactive"></help>
  <h2 class="member-name" *ng-if="interactive">My</h2>
  <h2 class="member-name" *ng-if="!interactive">{{member.name}}'s</h2>
  <h1 class="month-name">{{ monthName }}</h1>

  <table class="table">

    <tbody>

      <tr *ng-for="#week of weeks; #i = index">
        <td [attr.colspan]="startDate.getDay()"
          *ng-if="i == 0 && startDate.getDay() > 0"
          class="empty"
        ></td>
        <td
          class="day"
          day
          *ng-for="#date of week; #d = index"
          [date]="date"
          [objective]="Planks.objectiveFor(date)"
          [interactive]="interactive"
          [member]="member"></td>
      </tr>

    </tbody>

  </table>
</div>