.form-group {
  margin-bottom: 10px;
  display: block;
}

label {
  padding-top: 8px;
  width: 70px;
  float: left;
}

span.full-width {
  display: block;
  overflow: hidden;
}

span.full-width > input {
  width: 100%;
}

.ng-valid[required], .ng-pristine[required] {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid.ng-dirty, .ng-pristine.ng-invalid.ng-touched {
  border-left: 5px solid #a94442; /* red */
}
.alert {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 0;
  margin-left: 70px;
}

.form-group input.number {
  width: 60px;
  padding-right: 2px;
}

select {
  min-width: 100px;
  width: auto !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
  select {
    height: 38px;
    line-height: 38px;
  }
}
select::-moz-focus-inner { /*Remove button padding in FF*/
  border: 0;
  padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
  select {
    padding: 19px 0 !important;
  }
}
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */
  select {
    height: 38px;
    line-height: 38px;
  }
}

button.btn[type=submit] {
  margin-left: 70px;
  background-color: #42A948;
  border-color: #348438;
}

button.btn[type=submit]:hover {
  background-color: #348438;
}