.this {
  padding-top: 18px;
  background-color: #777;

  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 34em) {

  .this {
    padding-right: .9375rem;
    padding-left: .9375rem;
  }
}

.this.interactive {
  background-color: #f8f8f8;
}

h1,
h2 {
  color: white;
}

h2.info {
  font-size: 0.92rem;
  background-color: #ccc;
  color: #333;
  position: fixed;
  padding: 10px;
  z-index: 100;
  display: inline-block;
  opacity: 1;
  transition: 0.3s linear;
}

@media(min-width: 321px) {
  h2.info {
    font-size: 1.2rem;
  }
}

.this.interactive h2.info {
  background-color: #fff;
}

h2.info.hidden {
  opacity: 0;
}

.dashboard {
  z-index: 103;
  position: relative;
  padding-bottom: 38px;
}

.days-succeeded {
  left: 0px;
  top: 54px;
  border-bottom-right-radius: 4px;
}

.time-succeeded {
  right: 0px;
  top: 54px;
  border-bottom-left-radius: 4px;
}

.interactive .days-succeeded,
.interactive .time-succeeded {
  border-bottom: 2px solid #ccc;
}