.this {
  background-color: #aaa;

  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 34em) {

  .this {
    padding-right: .9375rem;
    padding-left: .9375rem;
  }
}

.this.interactive {
  background-color: #fff;
}

h2.info {
  font-size: 1.2rem;
  background-color: #ccc;
  color: #333;
  position: fixed;
  padding: 10px;
  z-index: 100;
  display: inline-block;
  opacity: 1;
  transition: 0.3s linear;
}

h2.info.hidden {
  opacity: 0;
}

.dashboard {
  z-index: 103;
  position: relative;
  padding-bottom: 38px;
}

.days-planked {
  left: 0px;
  top: 54px;
  border-bottom-right-radius: 4px;
}

.time-planked {
  right: 0px;
  top: 54px;
  border-bottom-left-radius: 4px;
}