h1 {
  font-size: 2.0rem;
}

h1.name {
  float: left;
}
h1.ordinal {
  float: right;
}


h1 {
  font-size: 1.0rem;
}

h2 {
  font-size: 0.8rem;
}

h2.objective {
  position: absolute;
  left: -2px;
  bottom: -10px;
}

.day {
  position: relative;
  padding: 0px;
  min-height: 63px;
}

.smile {
  position: relative;
  right: -4px;
  top: -4px;
  clear: both;
  width: 70%;
  opacity:0;
}

.smile.tada {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.smile.fadeOut {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.smile.visible {
  opacity: 1;
}

@media (min-width: 34em) {

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.0rem;
  }

  h2.objective {
    left: 2px;
    bottom: -8px;
  }

  .smile {
    right: -6px;
    top: -6px;
  }

  .day {
    padding: 2px;
    min-height: 80px;
  }

}

@media (min-width: 48em) {

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .day {
    padding: 4px;
    min-height: 90px;
  }

}

@media (min-width: 62em) {

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h2.objective {
    left: 4px;
  }

  .day {
    padding: 4px;
    min-height: 120px;
  }

}
