h1 {
  font-size: 2.0rem;
}

h1.name {
  float: left;
}
h1.ordinal {
  float: right;
}


h1 {
  font-size: 1.0rem;
}

h2 {
  font-size: 0.8rem;
}

h2.objective {
  position: absolute;
  left: -2px;
  bottom: -10px;
}

.day {
  position: relative;
  padding: 0px;
  min-height: 63px;
}

.smile {
  position: relative;
  right: -2px;
  top: -12px;
  clear: both;
  width: 70%;
  opacity:0;
}

.smile.tada {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.smile.fadeOut {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.smile.visible {
  opacity: 1;
}

.spinner-loader.centered {
  position: absolute;
  margin: 18% 45%;
  display: block;
  font-size: 4px;
}

.goal {
  font-size: 1.5rem;
  margin-bottom: 15px;
}


@media (min-width: 34em) {

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.0rem;
  }

  h2.objective {
    left: 2px;
    bottom: -8px;
  }

  .smile {
    right: -2px;
    top: -12px;
  }

  .day {
    padding: 2px;
    min-height: 80px;
  }

  .spinner-loader.centered {
    margin: 22% 44%;
    font-size: 5px;
  }


}

@media (min-width: 40em) {
  .day {
    padding: 4px;
    min-height: 100px;
  }
}

@media (min-width: 48em) {

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .day {
    padding: 4px;
    min-height: 120px;
  }

  .spinner-loader.centered {
    margin: 24% 44%;
    font-size: 6px;
  }

  .smile {
    right: -2px;
    top: -12px;
  }

}

@media (min-width: 54em) {
  .day {
    min-height: 130px;
  }
}

@media (min-width: 62em) {

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h2.objective {
    left: 4px;
  }

  .day {
    padding: 4px;
    min-height: 160px;
  }

  .spinner-loader.centered {
    margin: 24% 44%;
    font-size: 8px;
  }

  .smile {
    right: -2px;
    top: -18px;
  }

}