<div class="day">
  <div class="top clearfix">
    <h1 class="name">{{daysAbbr[date.getDay()]}}</h1>
    <h1 class="ordinal">{{date.getDate()}}</h2>
  </div>
  <div class="spinner-loader centered" *ng-if="loading">
    Loading…
  </div>
  <div *ng-if="!loading">
    <image class="smile animated"
          [class.visible]="planked"
          [class.tada]="animateIn && planked"
          [class.fadeOut]="animateOut"
          src="app/pages/calendar/day/img/718star.png"
    >
  </div>
  <h2 class="objective" [hidden]="objective <= 0">{{objective | minutes}}</h2>
  <div class="show-modal" *ng-if="interactive && !planked">
    <time-modal
      (confirm)="setPlanked($event)"
      (cancel)="true"
      title="{{longDate}}"
      goal="{{objective}}"
    ></time-modal>
  </div>
</div>