.navbar {
  background: #444;
  color: #FFFFFF;
}

.navbar .navbar-brand {
  color: #ddd;
}

.nav-item:hover .nav-link {
  color: #ddd;
}

.nav-link {
  color: #ddd;
}

.nav-link.router-link-active {
  text-decoration: underline;
}

.main {
  padding: 20px;
}