.timer {
  border: 1px solid #333;
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-block;
  margin: 0 auto;
}

.time {
  font-size: 3.0rem;
  margin-bottom: 10px;
}

.buttons i {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 20px;
}
